.home,
.box1,
.box2,
.box3,
.box4 {
  background-color: black;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdowncontent {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 100%;
  text-align: left;
  padding: 8px 16px;
}

.dropdowncontent a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdowncontent {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ddd;
}

section {
  margin: auto;
  width: 50%;

  padding: 10px;
}
.introduction {
  text-align: justify;
  text-justify: inter-word;
  margin: auto;
  padding: 10px;
}
a {
  color: black;
  text-decoration: none;
  text-align: justify;
}
html,
body {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.picname {
  text-align: center;
  opacity: 40%;
}
.center {
  border-style: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
h1 {
  text-align: center;
}
